<style>
    body {
        background-color: azure;
    }
</style>

<nav class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0 myHorizontalNav">
    <a class="navbar-brand col-sm-3 col-md-2 mr-0 text-uppercase text-xl-left" href="#"><b><i>Agorá</i></b></a>
    <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="http://localhost:3000/dashboard-user/name"><b>HOME</b></a>
    <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="#"><b>INBOX</b></a>
    <!-- <input class="form-control form-control-dark w-100" type="text" placeholder="Search" aria-label="Search"> 
    <ul class="navbar-nav px-3">
        <li class="nav-item text-nowrap">
            <a class="nav-link" href="#">Sign out</a>
        </li>
    </ul>
-->
</nav>

<div class="container-fluid">
    <div class="row">
        <nav class="col-md-2 d-none d-md-block bg-dark sidebar myVerticalNav">
            <%- include ('./partials/sidebar'); -%>
        </nav>

        <main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4 myMainContent">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-6  justify-content-center flex-wrap flex-md-nowrap align-items-top pb-2 mb-3 border-bottom">
                        <h1 class="h2 text-dark "> Administrator Dashboard</h1>
                        <h3 class="h3 text-dark"> Agora at a glance</h3>
                        <ul class="list-group">
                            <li class="list-group-item d-flex justify-content-between align-items-center">
                                Number of Active users
                                <span class="badge badge-primary badge-pill"><a class="mya" href="#">14</a></span>
                            </li>
                            <li class="list-group-item d-flex justify-content-between align-items-center">
                                User accounts locked out
                                <span class="badge badge-primary badge-pill"><a class="mya" href="#">2</a></span>
                            </li>
                            <li class="list-group-item d-flex justify-content-between align-items-center">
                                Total Number of Gathering placesl
                                <span class="badge badge-primary badge-pill"><a class="mya" href="#">1</a></span>
                            </li>
                            <li class="list-group-item d-flex justify-content-between align-items-center">
                                Location pending approval
                                <span class="badge badge-primary badge-pill"><a class="mya" href="http://localhost:3000/manage-location/name">1</a></span>
                            </li>
                            <li class="list-group-item d-flex justify-content-between align-items-center">
                                Total number of Tutor Sessions
                                <span class="badge badge-primary badge-pill"><a class="mya" href="#">1</a></span>
                            </li>
                            <li class="list-group-item d-flex justify-content-between align-items-center">
                                Pending messages
                                <span class="badge badge-primary badge-pill"><a class="mya" href="#">2</a></span>
                            </li>
                        </ul>
                    </div>
                    <div class="col-6">
                        <div class="card card-body editCard">
                            <h1 class="text-center mb-3">
                                <i class="fas fa-user"></i> <b><i>Edit User</i></b>
                            </h1>
                            <%- include ('./partials/messages'); -%>
                                <form action="/users/register" method="POST">
                                    <span class="form-group col-auto ">
                                        <label for="username">Username</label>
                                    </span>
                                    <span class="form-group col-auto">
                                        <label for="fname">First Name, Last Name</label>
                                    </span>


                                    <div class="form-group col-12">
                                        <label for="email">Email</label>
                                    </div>
                                    </fieldset>
                                    <fieldset class="form-group d-flex ">
                                        <legend>Account Status</legend>
                                        <div class="form-check col-6">
                                            <label class="form-check-label">
                                      <input class="form-check-input" type="checkbox" value="" checked="">
                                      Lock/Unlock account
                                    </label>
                                        </div>
                                        <div class="form-check col-6">
                                            <label class="form-check-label">
                                      <input class="form-check-input" type="checkbox" value="" unchecked="">
                                      Disbla/Enable account
                                    </label>
                                        </div>
                                    </fieldset>
                                    <div class="form-group  ">
                                        <label>User Role:
                                        <select class="custom-select">
                                          <option value="1">Member</option>
                                          <option value="2">Administrator</option>
                                                                      </select>
                                    </div>
                                    <!-- <div class="form-group">
                                        <label for="password">Reset Password</label>
                                        <input type="password" id="password" name="Password" class="form-control" placeholder="Reset Password" value="<%= typeof password != 'undefined' ? password : '' %>" />
                                    </div>
                                    <div class="form-group">
                                        <label for="password2">Confirm Password</label>
                                        <input type="password" id="password2" name="password2" class="form-control" placeholder="Confirm Password" value="<%= typeof password2 != 'undefined' ? password2 : '' %>" />
                                    </div> -->

                                    <button type="submit" class="btn btn-danger col-10 btn-block mb-3">Delete User Account</button>

                                    <div class="">
                                        <button type="button" class="btn btn-success col-5">Save changes</button>
                                        <button type="button" class="btn btn-secondary col-5" data-dismiss="modal">Cancel</button>
                                    </div>



                                </form>
                        </div>
                    </div>
                </div>
            </div>

            <!-- <h2 class="text-dark">Textbook Lists</h2> -->
            <div class="table-responsive">
                <table class="table table-striped table-sm" id="myTable">
                    <thead>
                        <tr class="table-dark">
                            <th scope="col">Username.</th>
                            <th scope="col">e-Mail</th>
                            <th scope="col">Last Logged in</th>
                            <th scope="col">Role</th>
                            <th scope="col">Status</th>
                            <th scope="col">Click to Edit</th>
                        </tr>
                    </thead>
                    <tbody>

                        <!--Sample code-->
                        <% for(var i=0; i < 150; i++) { %>
                            <tr class="table-secondary">

                                <td scope="row">username :
                                    <%=i %>
                                </td>
                                <td scope="row">email address :
                                    <%=i %>
                                </td>
                                <td scope="row">role :
                                    <%=i %>
                                </td>
                                <td scope="row">last logged on :
                                    <%=i %>
                                </td>
                                <td scope="row">status :
                                    <%=i %>
                                </td>
                                <td>
                                    <a class="btn btn-success btn-sm" href="#" role="button">Edit User</a>
                                </td>
                            </tr>
                            <% } %>

                    </tbody>
                </table>
            </div>
        </main>
    </div>
</div>