<style>
    body {
        background-color: azure;
    }
</style>

<nav class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0 myHorizontalNav">
    <a class="navbar-brand col-sm-3 col-md-2 mr-0 text-uppercase text-xl-left" href="#"><b><i>Agorá</i></b></a>
    <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="/dashboard/admin/<%=id%>/<%=member%>"><b>HOME</b></a>
    <!-- <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="#"><b>INBOX</b></a> -->
    <!-- <input class="form-control form-control-dark w-100" type="text" placeholder="Search" aria-label="Search"> 
    <ul class="navbar-nav px-3">
        <li class="nav-item text-nowrap">
            <a class="nav-link" href="#">Sign out</a>
        </li>
    </ul>
-->
</nav>

<div class="container-fluid">
    <div class="row">
        <nav class="col-md-2 d-none d-md-block bg-dark sidebar myVerticalNav">
            <%- include ('./partials/sidebar'); -%>
        </nav>

        <main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4 myMainContent">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-6  justify-content-center flex-wrap flex-md-nowrap align-items-top pb-2 mb-3 border-bottom">
                        <%- include ('./partials/messages'); -%>
                        <h1 class="h2 text-dark "> Administrator Dashboard</h1>
                        <h3 class="h3 text-dark"> Agora at a glance</h3>
                        <ul class="list-group">
                            <li class="list-group-item d-flex justify-content-between align-items-center">
                                Number of Active users
                                <span class="badge badge-primary badge-pill"><%=actives%></span>
                            </li>
                            <li class="list-group-item d-flex justify-content-between align-items-center">
                                User accounts locked out
                                <span class="badge badge-primary badge-pill"><%=blocked%></span>
                            </li>
                            <li class="list-group-item d-flex justify-content-between align-items-center">
                                Total Number of Gathering places
                                <span class="badge badge-primary badge-pill"><%=places%></span>
                            </li>
                            <li class="list-group-item d-flex justify-content-between align-items-center">
                                Locations pending approval
                                <span class="badge badge-primary badge-pill"><a class="mya" href="/places/manage-location/<%=id%>/<%=member%>"><%=pending%></a></span>
                            </li>
                            <li class="list-group-item d-flex justify-content-between align-items-center">
                                Total number of Tutor Sessions
                                <span class="badge badge-primary badge-pill"><%=sessions%></span>
                            </li>
                            <!-- <li class="list-group-item d-flex justify-content-between align-items-center">
                                Pending messages
                                <span class="badge badge-primary badge-pill"><a class="mya" href="#">2</a></span>
                            </li> -->
                        </ul>
                    </div>
                    <%if(editing){%>
                    <div class="col-6">
                        <div class="card card-body editCard">
                            <h1 class="text-center mb-3">
                                <i class="fas fa-user"></i> <b><i>Edit User</i></b>
                            </h1>
                            <form action="/users/<%=id%>/<%=member%>/role/<%=editing._id._id%>" method="POST">
                                <span class="form-group col-auto ">
                                    <h4>Username: </h4>
                                    <h5><%=editing._id.username%> </h5>
                                    <h4>First Name: </h4>
                                    <h5><%=editing._id.first_name%> </h5>
                                    <h4>Last Name: </h4> 
                                    <h5><%=editing._id.last_name%></h5>
                                    <h4>Email: </h4> 
                                    <h5><%=editing._id.email%></h5>
                                    <h4>Role: </h4>
                                    <%if(editing.is_admin) {%>
                                        <h5><%="Admin"%></h5>
                                    <%}else{%>
                                        <h5><%="Member" %></h5>
                                    <%}%>
                                </span>

                                </fieldset>
                                <fieldset class="form-group d-flex ">
                                    <legend>Account Status:</legend>
                                    <h5><%=editing.account_status%></h5>
                                    <div class="form-check col-6">
                                        <label class="form-check-label">
                                        <%if(editing.account_status == 'Active') {%>
                                            <input class="form-check-input" type="checkbox" value="Blocked" name="block" id="block">
                                                Block account
                                        <%} else {%>
                                            <input class="form-check-input" type="checkbox" value="Active" name="activate" id="activate">
                                                Unblock account
                                        <%}%>
                                  
                                        </label>
                                    </div>
                                </fieldset>
                                <div class="form-group  ">
                                    <label>User Role:
                                    <select class="custom-select" name="role" id="role">
                                        <option value="0">Edit Role</option>
                                        <option value="1">Member</option>
                                        <option value="2">Administrator</option>
                                    </select>
                                </div>

                                <div class="">
                                    <button type="submit" class="btn btn-success col-5">Save changes</button>
                                    <a class="btn btn-secondary col-5" href="/dashboard/admin/<%=id%>/<%=member%>" role="button">Cancel</a>
                                    
                                </div>

                                

                            </form>
                            <form action="/users/delete/<%=editing._id._id%>/<%=id%>/<%=member%>/admin" method="POST">
                                <button type="submit" class="btn btn-danger col-10 btn-block mb-3">DELETE USER</button>
                            </form>
                            

                        </div>
                    </div>
                    <%}%>

                </div>
            </div>

            <!-- <h2 class="text-dark">Textbook Lists</h2> -->
            <div class="table-responsive">
                <table class="table table-striped table-sm" id="myTable">
                    <thead>
                        <tr class="table-dark">
                            <th scope="col">Username.</th>
                            <th scope="col">e-Mail</th>
                            <th scope="col">Last Logged in</th>
                            <th scope="col">Role</th>
                            <th scope="col">Status</th>
                            <th scope="col">Click to Edit</th>
                        </tr>
                    </thead>
                    <tbody>
                            
                        <% users.forEach(function(row) { %>
                            <tr class="table-secondary">
                                <td scope="row">
                                    <%=row._id.username %>
                                </td>
                                <td scope="row">
                                    <%=row._id.email %>
                                </td>
                                <td scope="row">
                                    <%=row.last_login %>
                                </td>
                                <td scope="row">
                                    <%if(row.is_admin) {%>
                                        <%="Admin"%>
                                    <%}else{%>
                                        <%="Member" %>
                                    <%}%>
                                    
                                </td>
                                <td scope="row">
                                    <%=row.account_status %>
                                </td>
                                <td>
                                    <a class="btn btn-success" href="/dashboard/admin/<%=id%>/<%=member%>/<%=row._id._id%>" role="button">Edit User</a>
                                </td>
                            </tr>
                        <% }) %>    

                    </tbody>
                </table>
            </div>
        </main>
    </div>
</div>
<%- include ('./partials/footer'); -%>

<script>
    (function() {
    
        const idleDurationSecs = 900;    // X number of seconds
        const redirectUrl = '/users/logout';  // Redirect idle users to this URL
        let idleTimeout; // variable to hold the timeout, do not modify
    
        const resetIdleTimeout = function() {
    
            // Clears the existing timeout
            if(idleTimeout) clearTimeout(idleTimeout);
    
            // Set a new idle timeout to load the redirectUrl after idleDurationSecs
            idleTimeout = setTimeout(() => location.href = redirectUrl, idleDurationSecs * 1000);
        };
    
        // Init on page load
        resetIdleTimeout();
    
        // Reset the idle timeout on any of the events listed below
        ['click', 'touchstart', 'mousemove'].forEach(evt => 
            document.addEventListener(evt, resetIdleTimeout, false)
        );
    
    })();
</script>