<nav class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0">
    <a class="navbar-brand col-sm-3 col-md-2 mr-0 text-uppercase text-xl-left" href="#"><b><i>Agorá</i></b></a>
    <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="#"><b>HOME</b></a>
    <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="#"><b>INBOX</b></a>
    <!-- <input class="form-control form-control-dark w-100" type="text" placeholder="Search" aria-label="Search"> 
    <ul class="navbar-nav px-3">
        <li class="nav-item text-nowrap">
            <a class="nav-link" href="#">Sign out</a>
        </li>
    </ul>
-->
</nav>

<div class="container-fluid">
    <div class="row">
        <nav class="col-md-2 d-none d-md-block bg-dark sidebar">
            <div class="sidebar-sticky">
                <br>
                <img class="img-fluid rounded bg-white" src="image/logo.png">
                <h3 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-5 mb-1 text-muted">
                    <span>Welcome %name%</span>
                    <a class="d-flex align-items-center text-muted" href="#">
                        <span data-feather="plus-circle"></span>
                    </a>
                </h3>
                <ul class="nav flex-column">
                    <li class="nav-item">
                        <a class="nav-link mya2 active" href="#">
                            <span data-feather="home"></span> DASHBOARD <span class="sr-only">(current)</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link mya2" href="#">
                            <span data-feather="file"></span> EXCHANGE
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link mya2" href="#">
                            <span data-feather="shopping-cart"></span> GATHER
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link mya2" href="#">
                            <span data-feather="users"></span> WANDER
                        </a>
                    </li>
                </ul>
                <!--Other text to appear in between-->
                <h3 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-5 mb-1 text-muted">
                    <span></span>
                    <a class="d-flex align-items-center text-muted" href="#">
                        <span data-feather="plus-circle"></span>
                    </a>
                </h3>
                <ul class="nav flex-column">
                    <li class="nav-item">
                        <a class="nav-link mya2" href="#">
                            <span data-feather="bar-chart-2"></span> LOGOUT
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link mya2" href="#">
                            <span data-feather="layers"></span> SETTINGS
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link mya2" href="#">
                            <span data-feather="file-text"></span> HELP
                        </a>
                    </li>
                </ul>
            </div>
        </nav>

        <main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">
            <!-- <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
                <h1 class="h2">Dashboard</h1>
                <div class="btn-toolbar mb-2 mb-md-0">
                    <div class="btn-group mr-2">
                        <button class="btn btn-sm btn-outline-secondary">Share</button>
                        <button class="btn btn-sm btn-outline-secondary">Export</button>
                    </div>
                    <button class="btn btn-sm btn-outline-secondary dropdown-toggle">
                <span data-feather="calendar"></span>
                This week
              </button>
                </div>
            </div> -->
            <div class="container-fluid">
                <div class="row">
                    <div class="col-6  justify-content-between flex-wrap flex-md-nowrap align-items-top pb-2 mb-3 border-bottom">
                        <h1 class="h2 text-dark "> Dashboard</h1>
                        <div class="btn-toolbar mb-2 mb-md-0">
                            <div class="btn-group mr-2">
                                <button class="btn btn-sm btn-outline-secondary">Share</button>
                                <button class="btn btn-sm btn-outline-secondary">Export</button>
                            </div>
                            <button class="btn btn-sm btn-outline-secondary dropdown-toggle">
                        <span data-feather="calendar"></span>
                        This week
                      </button>
                        </div>
                    </div>
                    <div class="col-6">
                        <iframe src="https://calendar.google.com/calendar/embed?height=400&amp;wkst=1&amp;bgcolor=%23ffffff&amp;ctz=America%2FNew_York&amp;src=ZW4udXNhI2hvbGlkYXlAZ3JvdXAudi5jYWxlbmRhci5nb29nbGUuY29t&amp;color=%230B8043" style="border:solid 1px #777" width="600"
                            height="400" frameborder="0" scrolling="yes"></iframe>
                    </div>
                </div>
            </div>
            <!-- <h2 class="text-dark">Textbook Lists</h2> -->
            <div class="table-responsive">
                <table class="table table-striped table-sm" id="myTable">
                    <thead>
                        <tr class="table-dark">
                            <th scope="col">ISBN NO.</th>
                            <th scope="col">Book Title</th>
                            <th scope="col">Author</th>
                            <th scope="col">Edition</th>
                            <th scope="col">Rent/Buy/Sell</th>
                            <th scope="col">Condition</th>
                        </tr>
                    </thead>
                    <tbody>

                        <!--Sample code-->
                        <% for(var i=0; i < 150; i++) { %>
                            <tr class="table-secondary">
                                <td scope="row">ISBN
                                    <%= i %>
                                </td>
                                <td scope="row">Title:
                                    <%=i %>
                                </td>
                                <td scope="row">Author:
                                    <%=i %>
                                </td>
                                <td scope="row">Edition:
                                    <%=i %>
                                </td>
                                <td scope="row">For :
                                    <%=i %>
                                </td>
                                <td scope="row">Condition:
                                    <%=i %>
                                </td>
                            </tr>
                            <% } %>

                    </tbody>
                </table>
            </div>
        </main>
    </div>
</div>