<style>
    body {
        background-image: url("/image/books.png");
        background-repeat: no-repeat;
        background-color: white;
        background-size: 25%;
        background-position: 60% 300px;
    }
</style>

<nav class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0 myHorizontalNav">
    <a class="navbar-brand col-sm-3 col-md-2 mr-0 text-uppercase text-xl-left" href="#"><b><i>Agorá</i></b></a>
    <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="/dashboard/admin/<%=id%>/<%=member%>"><b>HOME</b></a>
    <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="/exchange/myposts/<%=id%>/<%=member%>"><b>MY POSTINGS</b></a>
    <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="/exchange/bookshelf/<%=id%>/<%=member%>"><b>BOOKSHELF</b></a>
    <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="/exchange/<%=id%>/<%=member%>"><b>EXCHANGE</b></a>

    <a class="navbar-brand col-sm-6 col-md-2 mr-0" href="/exchange/history/<%=id%>/<%=member%>"><b>HISTORY</b></a>
</nav>


<div class="container-fluid">
    <div class="row">
        <nav class="col-md-2 d-none d-md-block bg-dark sidebar myVerticalNav">
            <%- include ('./partials/sidebar'); -%>
        </nav>

        <main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4 myMainContent">
            <div class="container-fluid text-dark">
                <h1>Welcome to the Exchange.</h1>
                <h3>The Exchange is where the students can trade books directly with each other. First, students choose to buy, sell, donate, and/or rent any book. Then they decide on a convenient place to make the exchange.</h3>
                <h5>All payments are handled offline. users are expected to adhere to the <a href="http://localhost:3000/disclaimer#Terms" target="_blank">Terms & Conditions Agreement</a> </h5>
                <div class="card border-standard mb-3 mt-3 pt-0 pb-0" style="max-width: 33rem;">
                    <div class="card-body pt-0 pb-0 ">
                        <h2 class="card-text">Find the book you're looking for, then select by clicking it.</h2>
                    </div>
                </div>
            </div>
            <a href="/exchange/postings/<%=id%>/<%=member%>">
                <button>Post A Book</button>
             </a>

            <!-- <h2 class="text-dark">Textbook Lists</h2> -->
            <div class="table-responsive myTable">
                <table class="table table-striped table-sm " id="myTable">
                    <thead>
                        <tr class="myTable">
                            <th scope="col">ISBN NO.</th>
                            <th scope="col">Book Title</th>
                            <th scope="col">Author</th>
                            <th scope="col">Edition</th>
                            <th scope="col">Rent/Buy/Sell</th>
                            <th scope="col">Condition</th>
                            <th scope="col">Click to Select</th>
                        </tr>
                    </thead>
                    <tbody>

                        <% books.forEach(function(row) { %>
                            <tr class="table-secondary">
                                <td scope="row">
                                    <%=row.book.isbn %>
                                </td>
                                <td scope="row">
                                    <%=row.book.title %>
                                </td>
                                <td scope="row">
                                    <%=row.book.author %>
                                </td>
                                <td scope="row">
                                    <%=row.book.edition %>
                                </td>
                                <td scope="row">
                                    <%=row.offered_as %>
                                </td>
                                <td scope="row">
                                    <%=row.condition_desc %>
                                </td>
                                <td>
                                    <a class="btn btn-sm btn-secondary" href="/exchange/textbook-details/<%=id%>/<%=member%>/<%=row._id%>" role="button">View Details</a>
                                </td>
                            </tr>
                        <% }) %> 

                    </tbody>
                </table>
            </div>

        </main>
    </div>
</div>