<style>
body {
        background-image: url("/image/background1.png");
        background-attachment: fixed;
        background-size: cover;
        background-color: rgba(0, 0, 0, 1);
        background-blend-mode: lighten;
        width: 100%;
        height: 90vh;
    }
</style>

<nav class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0 myHorizontalNav">
    <a class="navbar-brand col-sm-3 col-md-2 mr-0 text-uppercase text-xl-left" href="#"><b><i>Agorá</i></b></a>
    <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="/dashboard/admin/<%=id%>/<%=member%>"><b>HOME</b></a>
    <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="/gather/mygroups/<%=id%>/<%=member%>"><b>MY SESSIONS</b></a>
</nav>

<div class="container-fluid">
    <div class="row">
        <nav class="col-md-2 d-none d-md-block bg-dark sidebar myVerticalNav">
            <%- include ('./partials/sidebar'); -%>
        </nav>
 
        <main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4 myMainContent text-dark">
            <div class="container-fluid">
                <%- include ('./partials/messages'); -%>
                <div class="row text-black-50">
                    <H1> Let's gather.</H1>
                    <H4> The Gather feature allows you to meet up with fellow students and friends. Join and form study groups, offer tutoring, find tutors, or simply hang out with friends at a time and place that works.
                    </H4>
                </div>
                <div class="row">
                    <div class="col">
                        <form class="border border-secondary">
                            <div class="form-group d-flex justify-content-center">
                                <H1 class="">GROUPS</H1>
                            </div>
                            <div class="form-row  d-flex justify-content-center">
                                <div class="">
                                    <a href="/gather/create/<%=id%>/<%=member%>" class="btn btn-primary" role="button">CREATE</a>
                                </div>
                            </div>
                        </form>
                        <div class="col table-responsive myTable mt-3 pt-2 px-2">
                            <table class="table table-striped table-sm " id="groupTable">
                                <thead>
                                    <tr class="myTable">
                                        <th scope="col">Name</th>
                                        <th scope="col">Location Name</th>
                                        <th scope="col">Interest</th>
                                        <th scope="col">Capacity</th>
                                        <th scope="col">Click to View</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <% groups.forEach(function (row) {%>
                                        <tr class=" myTable">
                                            <td scope="row">
                                                <%= row.name %>
                                            </td>
                                            <td scope="row">
                                                <%=row.place.name %>
                                                <br>
                                                <%=row.place.address.full_address %>
                                            </td>
                                            <td scope="row">
                                                <%=row.description %>
                                            </td>
                                            <td scope="row">
                                                <%=row.capacity %>
                                            </td>
                                            <td>
                                                <a class="btn btn-sm btn-secondary" href="/gather/group-join-info/<%=id%>/<%=member%>/<%=row._id%>" role="button">View Details</a>
                                            </td>

                                        </tr>
                                        <% }) %>

                                </tbody>
                            </table>
                        </div>

                    </div>
                    <div class="col">
                        <form class="border border-secondary">
                            <div class="form-group  d-flex justify-content-around">
                                <H1 class="">TUTORING</H1>

                            </div>
                            <div class="form-row  d-flex justify-content-center">
                                <div class="">
                                    <a href="/gather/tutor-create/<%=id%>/<%=member%>" class="btn btn-primary" role="button">CREATE</a>
                                </div>
                            </div>
                        </form>
                        <div class="col table-responsive myTable mt-3 pt-2 px-2">
                            <table class="table table-striped table-sm " id="tutorTable">
                                <thead>
                                    <tr class="myTable">
                                        <th scope="col">Name</th>
                                        <th scope="col">Location Name</th>
                                        <th scope="col">Subject</th>
                                        <th scope="col">Capacity</th>
                                        <th scope="col">Click to View</th>
                                    </tr>
                                </thead>
                                <tbody>                                    
                                    <% tutoring.forEach(function (row) {%>
                                        <tr class=" myTable">
                                            <td scope="row">
                                                <%= row.name %>
                                            </td>
                                            <td scope="row">
                                                <%=row.place.name %>
                                                <br>
                                                <%=row.place.address.full_address %>
                                            </td>
                                            <td scope="row">
                                                <%=row.description %>
                                            </td>
                                            <td scope="row">
                                                <%=row.capacity %>
                                            </td>
                                            <td>
                                                <a class="btn btn-sm btn-secondary" href="/gather/tutor-join-info/<%=id%>/<%=member%>/<%=row._id%>" role="button">View Details</a>
                                            </td>

                                        </tr>
                                        <% }) %>

                                </tbody>
                            </table>
                        </div>
                        
                    </div>
                </div>
            </div>

        </main>
    </div>
</div>

<script>
    (function() {
    
        const idleDurationSecs = 900;    // X number of seconds
        const redirectUrl = '/users/logout';  // Redirect idle users to this URL
        let idleTimeout; // variable to hold the timeout, do not modify
    
        const resetIdleTimeout = function() {
    
            // Clears the existing timeout
            if(idleTimeout) clearTimeout(idleTimeout);
    
            // Set a new idle timeout to load the redirectUrl after idleDurationSecs
            idleTimeout = setTimeout(() => location.href = redirectUrl, idleDurationSecs * 1000);
        };
    
        // Init on page load
        resetIdleTimeout();
    
        // Reset the idle timeout on any of the events listed below
        ['click', 'touchstart', 'mousemove'].forEach(evt => 
            document.addEventListener(evt, resetIdleTimeout, false)
        );
    
    })();
</script>