<style>
    body {
        background-image: url("/image/background1.png");
        background-attachment: fixed;
        background-size: cover;
        background-color: rgba(0, 0, 0, 0);
        background-blend-mode: lighten;
        width: 100%;
        height: 100vh;
    }
</style>

<nav class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0 myHorizontalNav">
    <a class="navbar-brand col-sm-3 col-md-2 mr-0 text-uppercase text-xl-left" href="#"><b><i>Agorá</i></b></a>
    <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="/dashboard/admin/<%=id%>/<%=member%>"><b>HOME</b></a>
    <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="/gather/join/<%=id%>/<%=member%>"><b>GROUPS</b></a>
    <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="gather/tutor-join-info/<%=id%>/<%=member%>"><b>TUTORING</b></a>

</nav>

<div class="container-fluid">
    <div class="row">
        <nav class="col-md-2 d-none d-md-block bg-dark sidebar myVerticalNav">
            <div class="sidebar-sticky">
                <br>
                <img class="img-fluid rounded mx-auto d-block bg-white" src="/image/logo.png">
                <h3 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-5 mb-1 text-muted">
                    <span>Welcome <%=member%></span>
                    <a class="d-flex align-items-center text-muted" href="#">
                        <span data-feather="plus-circle"></span>
                    </a>
                </h3>
                <ul class="nav flex-column">
                    <li class="nav-item">
                        <a class="nav-link mya2 active" href="/dashboard/admin/<%=id%>/<%=member%>">
                            <span data-feather="home"></span> DASHBOARD <span class="sr-only">(current)</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link mya2" href="/exchange/<%=id%>/<%=member%>">
                            <span data-feather="file"></span> EXCHANGE
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link mya2" href="/gather/<%=id%>/<%=member%>">
                            <span data-feather="shopping-cart"></span> GATHER
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link mya2" href="/places/<%=id%>/<%=member%>">
                            <span data-feather="users"></span> WANDER
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link mya2" href="/dashboard/admin/<%=id%>/<%=member%>">
                            <span data-feather="users"></span> MANAGE
                        </a>
                    </li>
                </ul>
                <!--Other text to appear in between-->
                <h3 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-5 mb-1 text-muted">
                    <span></span>
                    <a class="d-flex align-items-center text-muted" href="#">
                        <span data-feather="plus-circle"></span>
                    </a>
                </h3>
                <ul class="nav flex-column">
                    <li class="nav-item">
                        <a class="nav-link mya2" href="/users/logout">
                            <span data-feather="bar-chart-2"></span> LOGOUT
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link mya2" href="#">
                            <span data-feather="layers"></span> SETTINGS
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link mya2" href="#">
                            <span data-feather="file-text"></span> HELP
                        </a>
                    </li>
                </ul>
            </div>
        </nav>

        <main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4 myMainContent text-dark">
            <div class="container-fluid">
                <div class="row">
                    <H1> Groups</H1>
                </div>
                <!-- List of groups -->
                <div class="row">
                    <div class="col-lg-6">
                        <H2>All Groups</H2>

                        <div class="table-responsive">
                            <table class="table table-striped table-sm" id="myTable">
                                <thead>
                                    <tr class="table-dark">
                                        <th scope="col">Session Name</th>
                                        <th scope="col">Date and Time</th>
                                        <th scope="col">Capacity</th>
                                        <th scope="col">Organizer</th>
                                        <th scope="col">Details</th>
                                    </tr>
                                </thead>
                                <tbody> 

                                    <!--Sample code to pull data out from DB iterating through all entries.-->
                                    <% sessions.forEach(function(row) { %>
                                        <tr class="table-secondary">
                                            <td scope="row">
                                                <%= row.name %>
                                            </td>
                                            <td scope="row">
                                                <%= row.date %>
                                                <br>
                                                <%= row.time.start %> - <%= row.time.end %>
                                            </td>
                                            <td scope="row">
                                                <%=row.capacity %>
                                            </td>
                                            <td scope="row">
                                                <%=row.organizer.username %>
                                            </td>
                                            <td scope="row">
                                                <a class="btn btn-primary justify-content-end" href="/gather/group-join-info/<%=id%>/<%=member%>/<%=row._id%>" role="button">Select</a>
                                            </td>

                                        </tr>
                                        <% }) %>

                                </tbody>
                            </table>
                        </div>
                    </div>
                    <!-- Group details starts here -->
                    <%if(info){ %>

                        <div class="col-lg-6">
                            <H2> Group Details</H2>
                            <div class="form-group mt-5 pt-5 pl-3 bg-dark">
                                <!-- Group Name -->
                                <div class="form-group row">
                                    <label class="col-sm-3 col-form-label mytext">Group Name:</label>
                                    <div class="col-sm-9 mytext">
                                        <p>
                                            <%=info._id.name%>
                                        </p>
                                    </div>

                                </div>
                                <!-- Group Organizer -->
                                <div class="form-group row">
                                    <label class="col-sm-3 col-form-label mytext"> Organizers:</label>
                                    <div class="col-sm-9 mytext">
                                        <p>
                                            <%=info._id.organizer.username%>
                                        </p>
                                    </div>
                                </div>
                                <!-- Group Description -->
                                <div class="form-group row">
                                    <label class="col-sm-3 col-form-label mytext"> Description:</label>
                                    <div class="col-sm-9 mytext">
                                        <p>
                                            <%=info._id.description%>
                                        </p>
                                    </div>
                                </div>

                                <!-- Group Members -->
                                <div class="form-group row">
                                    <label class="col-sm-3 col-form-label mytext"> Members:</label>
                                    <div class="col-sm-9">
                                        <%for(var i = 0; i < info.members.length; i++){%>
                                            <span class="badge col-sm-3 badge-pill badge-light" style="font-size: 16px;"><%=info.members[i].username %></span>
                                        <%}%>
                                    </div>
                                </div>
                                <!-- Meeting Location -->
                                <div class="form-group row">
                                    <label class="col-3 mytext" for="Location">Session Location:</label>

                                    <textarea readonly='true' class="form-control border-dark col-8" id="exampleTextarea" rows="3" style="height: 96px;">
                                        <%=info._id.place.name%>
                                        
                                        <%=info._id.place.address.full_address%>
                                    </textarea>

                                </div>
                                <!-- Date-->
                                <div class="form-group row">
                                    <label class="col-3 mytext" for="Date">Date:</label>
                                    <div class="col-sm-9 mytext">
                                        <%=info._id.date%>
                                    </div>
                                </div>
                                <!-- Time-->
                                <div class="form-group row">
                                    <label class="col-3 mytext" for="startTime">Time:</label>
                                    <div class="col-sm-9 mytext">
                                        <%=info._id.time.start%> - <%=info._id.time.end%>
                                    </div>
                                </div>
                                <div class="form-group row pb-5">
                                    <%if(info._id.capacity != info.members.length){%>
                                        <label for="createButton" class="col-sm-3 mytext"> Join or Leave:</label>
                                        <div class="col-sm-9 d-flex justify-content-around">
                                            <a class="btn btn-outline-success col-sm-3 my-2 my-sm-0" href="/gather/tutor-join/<%=id%>/<%=member%>/<%=info._id._id%>" role="button" >JOIN</a>
                                        </div>
                                    <%}else{%>
                                        <div class="col-sm-9 mytext">
                                            <h5 class="text-danger">This Session is full</h5>
                                        </div>
                                    <%}%>
                                </div>
                            </div>
                        </div>
                    <%}%>

                </div>

            </div>

        </main>
    </div>
</div>