<style>
    body {
        background-image: url("/image/books.png");
        background-repeat: no-repeat;
        background-color: white;
        background-size: 25%;
        background-position: 60% 300px;
    }
</style>

<nav class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0 myHorizontalNav">
    <a class="navbar-brand col-sm-3 col-md-2 mr-0 text-uppercase text-xl-left" href="#"><b><i>Agorá</i></b></a>
    <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="/dashboard/admin/<%=id%>/<%=member%>"><b>HOME</b></a>
    <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="/exchange/myposts/<%=id%>/<%=member%>"><b>MY POSTINGS</b></a>
    <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="/exchange/bookshelf/<%=id%>/<%=member%>"><b>BOOKSHELF</b></a>
    <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="/exchange/<%=id%>/<%=member%>"><b>EXCHANGE</b></a>

    <a class="navbar-brand col-sm-6 col-md-2 mr-0" href="/exchange/history/<%=id%>/<%=member%>"><b>HISTORY</b></a>
</nav>


<div class="container-fluid">
    <div class="row">
        <nav class="col-md-2 d-none d-md-block bg-dark sidebar myVerticalNav">
            <%- include ('./partials/sidebar'); -%>
        </nav>

        <main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4 myMainContent">
            <div class="container-fluid text-dark">
                <%- include ('./partials/messages'); -%>
                <h1>My History
                </h1>

                <h4>Books I Sold/Rented/Donated</h4>
                <div class="table-responsive myTable">
                    <table class="table table-striped table-sm" id="myTable">
                        <thead>
                            <tr class="myTable">
                                <th scope="col">Exchange Date</th>
                                <th scope="col">Exchange Time and Place</th>
                                <th scope="col">Reference Number</th>
                                <th scope="col">Status</th>
                                <th scope="col">Book</th>
                                <th scope="col">Buyer</th>
                            </tr>
                        </thead>
                        <tbody>
                            <% sold_books.forEach(function(row) { %>
                                <tr class=" myTable">
                                    <td scope="row">
                                        <%= row.meeting_date %>
                                    </td>
                                    <td scope="row">
                                        <%= row.meet_time %>
                                        <br>
                                        <%= row.place.name %>
                                        <br>
                                        <%= row.place.address.full_address %>
                                    </td>
                                    <td scope="row">
                                        <%=row._id %>
                                    </td>
                                    <td scope="row">
                                        <%=row.status.state%>
                                        <br>
                                        <%if(row.status.state == 'Renting'){%>               
                                            Start Date: <%=row.status.rent_info.start_date%>
                                            <br>
                                            Return Date: <%=row.status.rent_info.return_date%>
                                        <%}%>
                                    </td>
                                    <td scope="row">
                                        <%=row.book.title %>
                                    </td>
                                    <td scope="row">
                                        <%=row.buyer.username %>
                                        <br>
                                        <%=row.buyer.email %>
                                    </td>
                                </tr>
                                <% }) %>

                        </tbody>
                    </table>
                </div>

                <h4>Books I Bought</h4>
                <div class="table-responsive myTable">
                    <table class="table table-striped table-sm" id="tutorTable">
                        <thead>
                            <tr class="myTable">
                                <th scope="col">Exchange Date</th>
                                <th scope="col">Exchange Time and Place</th>
                                <th scope="col">Reference Number</th>
                                <th scope="col">Status</th>
                                <th scope="col">Book</th>
                                <th scope="col">Seller</th>
                            </tr>
                        </thead>
                        <tbody>
                            <% bought_books.forEach(function(row) { %>
                                <tr class=" myTable">
                                    <td scope="row">
                                        <%= row.meeting_date %>
                                    </td>
                                    <td scope="row">
                                        <%= row.meet_time %>
                                        <br>
                                        <%= row.place.name %>
                                        <br>
                                        <%= row.place.address.full_address %>
                                    </td>
                                    <td scope="row">
                                        <%=row._id %>
                                    </td>
                                    <td scope="row">
                                        <%=row.status.state%>
                                        <br>
                                        <%if(row.status.state == 'Renting'){%>               
                                            Start Date: <%=row.status.rent_info.start_date%>
                                            <br>
                                            Return Date: <%=row.status.rent_info.return_date%>
                                        <%}%>
                                    </td>
                                    <td scope="row">
                                        <%=row.book.title %>
                                    </td>
                                    <td scope="row">
                                        <%=row.buyer.username %>
                                        <%=row.buyer.email %>
                                    </td>

                                </tr>
                                <% }) %>

                        </tbody>
                    </table>
                </div>

                <h4>Requests I've made</h4>
                <div class="table-responsive myTable">
                    <table class="table table-striped table-sm" id="groupTable">
                        <thead>
                            <tr class="myTable">
                                <th scope="col">Request Date</th>
                                <th scope="col">Reference Number</th>
                                <th scope="col">Book</th>
                                <th scope="col">Seller</th>
                                <th scope="col">Request Time 1</th>
                                <th scope="col">Request Time 2</th>
                                <th scope="col">Request Time 3</th>
                                <th scope="col">Status</th>
                                <th scope="col">Click to View Book</th>
                                <th scope="col">Delete</th>
                            </tr>
                        </thead>
                        <tbody>
                            <% requests.forEach(function(row) { %>
                                <tr class=" myTable">
                                    <td scope="row">
                                        <%= row.date %>
                                    </td>
                                    <td scope="row">
                                        <%= row._id %>
                                    </td>
                                    <td scope="row">
                                        <%= row.book.title %>
                                    </td>
                                    <td scope="row">
                                        <%= row.owner.username %>
                                        <br>
                                        <%= row.owner.email %>
                                    </td>
                                    <td scope="row">
                                        <%= row.requested_times.first_date%>
                                        <%= row.requested_times.first_time%>
                                    </td>
                                    <td scope="row">
                                        <%= row.requested_times.sec_date%>
                                        <%= row.requested_times.sec_time%>
                                    </td>
                                    <td scope="row">
                                        <%= row.requested_times.third_date%>
                                        <%= row.requested_times.third_time%>
                                    </td>
                                    <td scope="row">
                                        <%= row.status%>
                                    </td>
                                    <td>
                                        <%if(row.status == 'Pending'){%>
                                            <a class="btn btn-secondary" href="/exchange/textbook-details/<%=id%>/<%=member%>/<%=row.merch%>" role="button">View Book Posting</a>
                                        <%}%>
                                        
                                    </td>
                                    <td>
                                        <%if(row.status == 'Pending'){%>
                                            <a class="btn btn-danger" href="/exchange/request/delete/<%=id%>/<%=member%>/<%=row._id%>" role="button">Delete Request</a>
                                        <%}%>
                                    </td>

                                </tr>
                                <% }) %>

                        </tbody>
                    </table>
                </div>
            </div>
        </main>
        </div>
    </div>

    <script>
        (function() {
        
            const idleDurationSecs = 900;    // X number of seconds
            const redirectUrl = '/users/logout';  // Redirect idle users to this URL
            let idleTimeout; // variable to hold the timeout, do not modify
        
            const resetIdleTimeout = function() {
        
                // Clears the existing timeout
                if(idleTimeout) clearTimeout(idleTimeout);
        
                // Set a new idle timeout to load the redirectUrl after idleDurationSecs
                idleTimeout = setTimeout(() => location.href = redirectUrl, idleDurationSecs * 1000);
            };
        
            // Init on page load
            resetIdleTimeout();
        
            // Reset the idle timeout on any of the events listed below
            ['click', 'touchstart', 'mousemove'].forEach(evt => 
                document.addEventListener(evt, resetIdleTimeout, false)
            );
        
        })();
    </script>