<style>
    body {
        background-image: url("/image/books.png");
        background-repeat: no-repeat;
        background-color: white;
        background-size: 25%;
        background-position: 80% 300px;
    }
</style>

<nav class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0 myHorizontalNav">
    <a class="navbar-brand col-sm-3 col-md-2 mr-0 text-uppercase text-xl-left" href="#"><b><i>Agorá</i></b></a>
    <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="/dashboard/admin/<%=id%>/<%=member%>"><b>HOME</b></a>
    <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="/exchange/myposts/<%=id%>/<%=member%>"><b>MY POSTINGS</b></a>
    <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="/exchange/bookshelf/<%=id%>/<%=member%>"><b>BOOKSHELF</b></a>
    <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="/exchange/<%=id%>/<%=member%>"><b>EXCHANGE</b></a>

    <a class="navbar-brand col-sm-6 col-md-2 mr-0" href="/exchange/history/<%=id%>/<%=member%>"><b>HISTORY</b></a>
</nav>


<div class="container-fluid">
    <div class="row">
        <nav class="col-md-2 d-none d-md-block bg-dark sidebar myVerticalNav">
            <%- include ('./partials/sidebar'); -%>
        </nav>

        <main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4 myMainContent">
            <div class="container-fluid text-dark">
                <h1 >My Postings</h1>
                <h4>Your Postings are books that you are currently offering for rent/purchase/donation.</h4>

                <a href="/exchange/postings/<%=id%>/<%=member%>">
                    <button>Post A Book</button>
                 </a>
                <div class="card border-standard mb-1" style="max-width:100%;margin-top: 0%">

                    <div class="card-body pb-1 ">
                        <%- include ('./partials/messages'); -%>
                        <h2 class="text-dark">Textbooks you currently are offering.</h2>
                        <div class="table-responsive myTable">
                            <table class="table table-striped table-sm " id="myTable">
                                <thead>
                                    <tr class="myTable">
                                        <th scope="col">ISBN NO.</th>
                                        <th scope="col">Book Title</th>
                                        <th scope="col">Author</th>
                                        <th scope="col">Edition</th>
                                        <th scope="col">Offered As</th>
                                        <th scope="col">Condition</th>
                                        <th scope="col">Status</th>
                                        <th scope="col">Requests pending</th>
                                        <th scope="col">Edit Details</th>
                                    </tr>
                                </thead>
                                <tbody>

                                        <% books.forEach(function(row) { %>
                                            <tr class="table-secondary">
                                                <td scope="row">
                                                    <%=row.book.isbn %>
                                                </td>
                                                <td scope="row">
                                                    <%=row.book.title %>
                                                </td>
                                                <td scope="row">
                                                    <%=row.book.author %>
                                                </td>
                                                <td scope="row">
                                                    <%if(!row.book.edition){ %>
                                                        N/A
                                                    <%} else {%>
                                                        <%=row.book.edition %>
                                                    <%}%>
                                                </td>
                                                <td scope="row">
                                                    <%=row.offered_as %>
                                                </td>
                                                <td scope="row">
                                                    <%=row.condition_desc %>
                                                </td>
                                                <td scope="row">
                                                    <%=row.status.state %>
                                                </td>
                                                <td scope="row">
                                                    <a class="btn btn-sm btn-secondary" href="/exchange/textbook-owner-details/<%=id%>/<%=member%>/<%=row._id%>" role="button">View Pending Requests</a>
                                                </td>
                                                <td scope="row">
                                                    <a class="btn btn-sm btn-secondary" href="/exchange/textbook-edit/<%=id%>/<%=member%>/<%=row._id%>" role="button">Click to Edit</a>
                                                </td>
                                            </tr>
                                        <% }) %> 

                                </tbody>
                            </table>
                        </div>



                
                    </div>
                </div>
            </div>
        </main>
    </div>
</div>

<script>
    (function() {
    
        const idleDurationSecs = 900;    // X number of seconds
        const redirectUrl = '/users/logout';  // Redirect idle users to this URL
        let idleTimeout; // variable to hold the timeout, do not modify
    
        const resetIdleTimeout = function() {
    
            // Clears the existing timeout
            if(idleTimeout) clearTimeout(idleTimeout);
    
            // Set a new idle timeout to load the redirectUrl after idleDurationSecs
            idleTimeout = setTimeout(() => location.href = redirectUrl, idleDurationSecs * 1000);
        };
    
        // Init on page load
        resetIdleTimeout();
    
        // Reset the idle timeout on any of the events listed below
        ['click', 'touchstart', 'mousemove'].forEach(evt => 
            document.addEventListener(evt, resetIdleTimeout, false)
        );
    
    })();
</script>