<style>
    body {
        background-image: url("/image/books.png");
        background-repeat: no-repeat;
        background-color: white;
        background-size: 25%;
        background-position: 55% 300px;
    }
</style>

<nav class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0 myHorizontalNav">
    <a class="navbar-brand col-sm-3 col-md-2 mr-0 text-uppercase text-xl-left" href="#"><b><i>Agorá</i></b></a>
    <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="/dashboard/admin/<%=id%>/<%=member%>"><b>HOME</b></a>
    <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="/exchange/bookshelf/<%=id%>/<%=member%>"><b>BOOKSHELF</b></a>
    <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="/exchange/myposts/<%=id%>/<%=member%>"><b>MY POSTINGS</b></a>
    <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="/exchange/<%=id%>/<%=member%>"><b>EXCHANGE</b></a>

    <a class="navbar-brand col-sm-6 col-md-2 mr-0" href="/exchange/history/<%=id%>/<%=member%>"><b>HISTORY</b></a>
</nav>


<div class="container-fluid">
    <div class="row">
        <nav class="col-md-2 d-none d-md-block bg-dark sidebar myVerticalNav">
            <%- include ('./partials/sidebar'); -%>
        </nav>

        <main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4 myMainContent">
            <div class="container-fluid text-dark">
                <div class="row">
                    <h1 class="h1 text-dark "> Details for <%=merch.book.title%></h1>
                </div>
                <div class="row">
                    <h4 class="h4 text-dark"> Display details of a specific textbook.</h4>
                </div>
                <hr>
                <div class="row justify-content-between">
                    <div class="col-4">

                        <h3>Author: <%=merch.book.author%></h3>
                        <h4>Edition:
                            <%if(!merch.book.edition){ %>
                                N/A
                            <%} else { %>
                                <%=merch.book.edition%>
                            <%}%></h4>
                        <h4>ISBN No.: <%=merch.book.isbn%></h4>
                        <h4>MISC.</h4>
                        <ul>
                            <li>Condition: <%=merch.condition_desc%></li>
                            <li>Other stuffs here</li>
                        </ul>
                        <p>Textbook Image here </p>
                        <p><img src="/image/marvin.jpg" style="width: 40%;" alt="A Great HTML Resource"></p>
                        <p>Add a link to Amazon for the book <a href="https://www.amazon.com/HTML5-Masterminds-3rd-revolutionary-applications-ebook/dp/B07KYB26T2/ref=sr_1_1?dchild=1&keywords=how+to+html5&qid=1586653659&s=digital-text&sr=1-1" target="_blank">Web site</a></p>
                        <hr>
                        <!-- And add a copyright notice.-->
                        <p>&#169; ACME Publishing, 2020</p>
                    </div>
                    <div class="col-4">
                        <h3>Owner: <%=merch.owner.first_name%> <%=merch.owner.last_name%></h3>
                        <h4>Ratings:</h4>
                        <% for (var star=0; star< rating; star++){ %>
                            <span class="fa fa-star checked"></span>
                            <% } %>
                    </div>
                    <div class="col-4">
                        <h3>For: <%=merch.offered_as%></h3>
                        <h4>Price: $<%=merch.cost%></h4>
                        <%if(merch.offered_as == 'For Rent'){%>
                            <h4>Number of Weeks Available: <%=merch.availability_period%></h4>
                        <%}%>

                    </div>
                </div>

                <form id="merch" onsubmit="return isValidForm()" action="/exchange/request/<%=id%>/<%=member%>/<%=merch._id%>" method="POST">
                    <h3>Make a request</h3>
                    
                    <label for="message">Send message to the owner:</label>
                    <br>
                    <textarea name="message" id="message" cols="30" rows="5"></textarea>
                    <br>

                    <label for="place">Choose one location to make the exchange:</label>
                    <div class="table-responsive myTable">
                        <table id="places" class="table table-striped table-sm">
                            <thead>
                                <tr class="table-dark">
                                    <th scope="col">Location Name</th>
                                    <th scope="col">Address</th>
                                    <th scope="col">Hours</th>
                                    <th scope="col">Capacity</th>
                                    <th scope="col">Rating</th>
                                    <th scope="col">Select</th>
                                </tr>
                            </thead>

                            <tbody>
                                <% places.forEach(function(row) { %>
                                    <tr class="table-secondary">
                                        <td id="place-name" name="place-name" scope="row" >
                                            <%=row.name %>
                                        </td>
                                        <td id="place-address" name="place-address" scope="row">
                                            <%=row.address.street %>,
                                            <%=row.address.city %>,
                                            <%=row.address.state %>,
                                            <%=row.address.zipcode %>
                                        </td>
                                        <td scope="row">
                                            Mon: <%=row.operation_hours[0] %>,
                                            Tues: <%=row.operation_hours[1] %>,
                                            Weds: <%=row.operation_hours[2] %>,
                                            Thurs: <%=row.operation_hours[3] %>,
                                            Fri: <%=row.operation_hours[4] %>,
                                            Sat: <%=row.operation_hours[5] %>,
                                            Sun: <%=row.operation_hours[6] %>
                                        </td>
                                        <td scope="row">
                                            <%=row.capacity %>
                                        </td>
                                        <td scope="row">
                                            <%=row.rating.num %>
                                        </td>
                                        <td>
                                            <button type="button" class="btn btn-secondary btn-sm" onclick="addItem(this)">Add location</button>
                                        </td>
                                    </tr>
                                <% }) %> 
                            </tbody>
                        </table>
                    </div>

                    <div id="dynamic-list" style="font-size: 16px;"></div>

                    <div id="list" style="font-size: 16px; visibility:hidden;">
                        <input id="first" name="first">
                    </div>

                    <label for="firsts">Choose a time to make the exchange at this place:</label>
                    <input name="first_date" type="date" required>
                    <input name="first_time" type="time" required>
                    <br>

                    <label for="seconds">Choose a second time to make the exchange at this place:</label>
                    <input name="sec_date" type="date" required>
                    <input name="sec_time" type="time" required>
                    <br>

                    <label for="thirds">Choose a third time to make the exchange at this place:</label>
                    <input name="third_date" type="date" required>
                    <input name="third_time" type="time" required>
                    <br>


                    <button type="submit" class="btn btn-success align-content-between ">Submit Request</button>
                </form>

                <h4 class="text-info">Once you click submit, the offering party will be notified and you will receive email notification if request is accepted.</h4>
                <hr>
                <h4 class="text-info">You can view the status of the request in your bookshelf.</h4>

            </div>
        </main>
    </div>
</div>


<script type="text/javascript">

    function isValidForm(){
        var list = document.getElementById("dynamic-list");
        var count = list.getElementsByTagName('input').length;
        if(count < 1)
        {
            alert("Choose a location for the exchange.");
            return false;
        }
        alert("Validations successful!");
        return true;
    }

    document.getElementById('merch').onsubmit = function() {
        return isValidForm();
    };



    //script to select
    function addItem(x){
        var list = document.getElementById("dynamic-list");
        var count = list.getElementsByTagName('input').length;
        if(count == 1){
            return;
        }
        var inde = x.parentNode.parentNode.rowIndex;
        var name = document.getElementById("places").rows[inde].cells[0].innerHTML.replace(/\s\s+/g, ' ');
        var address = document.getElementById("places").rows[inde].cells[1].innerHTML.replace(/\s\s+/g, ' ');

        var tags = list.getElementsByTagName('input');
        for(var ind = 0; ind < count; ind++){
            if(tags[ind].value == (name + ": " + address)){
                alert("That location was already selected");
                return;
            }
        }

        var inp = document.createElement('input');
        inp.style.border = '2px solid blue';
        inp.style.borderRadius = '25px';
        inp.style.padding = '10px';
        inp.style.display = 'block';
        inp.readOnly = true;
        list.appendChild(inp);
    
        inp.required = true;
        inp.value = name + ": " + address;

        var list2 = document.getElementById("list");
        var values = list2.getElementsByTagName('input')
        for(var ind = 0; ind < 1; ind++){
            if(!values[ind].value){
                values[ind].value = inp.value;
                break;
            }
        }

        inp.size = inp.value.length;
        //create your delete button after you click try it
        var del = document.createElement('button');
        del.style.textDecoration = 'none';
        del.innerHTML = 'Remove this location?';
        del.style.color = 'white';
        del.style.borderRadius = '25px';
        del.style.backgroundColor = 'red';
        //assign a function for it when clicked
        del.onclick = function() { deleteButton(inp,this)}; 
        list.appendChild(del);
    }

    function deleteButton(x,y) {
	  
      var parent = document.getElementById('dynamic-list');
      //remove the input field
      parent.removeChild(x);
      //remove the button
      parent.removeChild(y);
      
      var list2 = document.getElementById("list");
        var values = list2.getElementsByTagName('input')
        for(var ind = 0; ind < 1; ind++){
            if(values[ind].value == x.value){
                values[ind].value = null;
                break;
            }
        }
  }
</script>

<script>
    (function() {
    
        const idleDurationSecs = 900;    // X number of seconds
        const redirectUrl = '/users/logout';  // Redirect idle users to this URL
        let idleTimeout; // variable to hold the timeout, do not modify
    
        const resetIdleTimeout = function() {
    
            // Clears the existing timeout
            if(idleTimeout) clearTimeout(idleTimeout);
    
            // Set a new idle timeout to load the redirectUrl after idleDurationSecs
            idleTimeout = setTimeout(() => location.href = redirectUrl, idleDurationSecs * 1000);
        };
    
        // Init on page load
        resetIdleTimeout();
    
        // Reset the idle timeout on any of the events listed below
        ['click', 'touchstart', 'mousemove'].forEach(evt => 
            document.addEventListener(evt, resetIdleTimeout, false)
        );
    
    })();
</script>