<style>
    body {
        background-image: url("/image/books.png");
        background-repeat: no-repeat;
        background-color: white;
        background-size: 25%;
        background-position: 55% 300px;
    }
</style>

<nav class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0 myHorizontalNav">
    <a class="navbar-brand col-sm-3 col-md-2 mr-0 text-uppercase text-xl-left" href="#"><b><i>Agorá</i></b></a>
    <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="/dashboard/admin/<%=id%>/<%=member%>"><b>HOME</b></a>
    <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="/exchange/bookshelf/<%=id%>/<%=member%>"><b>BOOKSHELF</b></a>
    <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="/exchange/myposts/<%=id%>/<%=member%>"><b>MY POSTINGS</b></a>
    <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="/exchange/<%=id%>/<%=member%>"><b>EXCHANGE</b></a>

    <a class="navbar-brand col-sm-6 col-md-2 mr-0" href="/exchange/history/<%=id%>/<%=member%>"><b>HISTORY</b></a>
</nav>


<div class="container-fluid">
    <div class="row">
        <nav class="col-md-2 d-none d-md-block bg-dark sidebar myVerticalNav">
            <div class="sidebar-sticky">
                <br>
                <img class="img-fluid rounded mx-auto d-block bg-white" src="/image/logo.png">
                <h3 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-5 mb-1 text-muted">
                    <span>Welcome <%=member%></span>
                    <a class="d-flex align-items-center text-muted" href="#">
                        <span data-feather="plus-circle"></span>
                    </a>
                </h3>
                <ul class="nav flex-column">
                    <li class="nav-item">
                        <a class="nav-link mya2 active" href="/dashboard/admin/<%=id%>/<%=member%>">
                            <span data-feather="home"></span> DASHBOARD <span class="sr-only">(current)</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link mya2" href="/exchange/<%=id%>/<%=member%>">
                            <span data-feather="file"></span> EXCHANGE
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link mya2" href="/gather/<%=id%>/<%=member%>">
                            <span data-feather="shopping-cart"></span> GATHER
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link mya2" href="/places/<%=id%>/<%=member%>">
                            <span data-feather="users"></span> WANDER
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link mya2" href="/dashboard/admin/<%=id%>/<%=member%>">
                            <span data-feather="users"></span> MANAGE
                        </a>
                    </li>
                </ul>
                <!--Other text to appear in between-->
                <h3 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-5 mb-1 text-muted">
                    <span></span>
                    <a class="d-flex align-items-center text-muted" href="#">
                        <span data-feather="plus-circle"></span>
                    </a>
                </h3>
                <ul class="nav flex-column">
                    <li class="nav-item">
                        <a class="nav-link mya2" href="/users/logout">
                            <span data-feather="bar-chart-2"></span> LOGOUT
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link mya2" href="#">
                            <span data-feather="layers"></span> SETTINGS
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link mya2" href="#">
                            <span data-feather="file-text"></span> HELP
                        </a>
                    </li>
                </ul>
            </div>
        </nav>

        <main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4 myMainContent">
            <div class="container-fluid text-dark">
                <div class="row">
                    <h1 class="h1 text-dark "> Details for <%=merch.book.title%></h1>
                </div>
                <div class="row">
                    <h4 class="h4 text-dark"> Display details of a specific textbook.</h4>
                </div>
                <hr>
                <div class="row justify-content-between">
                    <div class="col-4">

                        <h3>Author: <%=merch.book.author%></h3>
                        <h4>Edition: 
                            <%if(!merch.book.edition){ %>
                                N/A
                            <%} else { %>
                                <%=merch.book.edition%>
                            <%}%>
                        </h4>
                        <h4>ISBN No.: <%=merch.book.isbn%></h4>
                        <h4>MISC.</h4>
                        <ul>
                            <li>Condition: <%=merch.condition_desc%></li>
                            <li>Other stuffs here</li>
                        </ul>
                        <p>Textbook Image here </p>
                        <p><img src="/image/marvin.jpg" style="width: 40%;" alt="A Great HTML Resource"></p>
                        <p>Add a link to Amazon for the book <a href="https://www.amazon.com/HTML5-Masterminds-3rd-revolutionary-applications-ebook/dp/B07KYB26T2/ref=sr_1_1?dchild=1&keywords=how+to+html5&qid=1586653659&s=digital-text&sr=1-1" target="_blank">Web site</a></p>
                        <hr>
                        <!-- And add a copyright notice.-->
                        <p>&#169; ACME Publishing, 2020</p>
                    </div>
                    <div class="col-4">
                        <h4>Owner: <%=merch.owner.first_name%> <%=merch.owner.last_name%></h4>
                        <h5>Ratings:
                            <% for (var star=0; star< rating; star++){ %>
                                <span class="fa fa-star checked"></span>
                                <% } %>
                        </h5>
                        <hr>
                        <h4>Requesting members:</h4>
                        <%if(merch.status.state == 'Being Rented'){%>
                            <h4 class="text-danger">Note: There will be no requests until the book has been returned and you set the book as available again on the Exchange.</h4>
                        <%} else {%>
                            <h3>Please accept a request</h3>
                        <%}%>
                        <form id="request" onsubmit="return isValidForm()" action="/exchange/accept-request/<%=id%>/<%=member%>/<%=merch._id%>" method="POST">
                            <div class="table-responsive myTable">
                                <table class="table table-striped table-sm" id="myTable">
                                    <thead>
                                        <tr class="myTable">
                                            <th scope="col">Name</th>
                                            <th scope="col">Place</th>
                                            <th scope="col">First Requested Date</th>
                                            <th scope="col">Second Requested Date</th>
                                            <th scope="col">Third Requested Date</th>
                                            <th scope="col">Check to accept</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <% requests.forEach(function(row) { %>
                                            <tr class=" myTable">
                                                <td scope="row">
                                                    <%= row.requester.username %>
                                                </td>
                                                <td scope="row">
                                                    <%= row.place.name %>
                                                    <br>
                                                    <%= row.place.address.full_address %>
                                                </td>
                                                <td scope="row">
                                                    <%=row.requested_times.first_date %>
                                                    <%=row.requested_times.first_time %>
                                                    <input type="checkbox" name = 'accept' style="visibility: hidden;" onclick="selectTime(this)" >
                                                </td>
                                                <td scope="row">
                                                    <%=row.requested_times.sec_date %>
                                                    <%=row.requested_times.sec_time %>
                                                    <input type="checkbox" name = 'accept' style="visibility: hidden;" onclick="selectTime(this)" >
                                                </td>
                                                <td scope="row">
                                                    <%=row.requested_times.third_date %>
                                                    <%=row.requested_times.third_time %>
                                                    <input type="checkbox" name = 'accept' style="visibility: hidden;" onclick="selectTime(this)" >
                                                </td>

                                                <td>
                                                    <button id='do-it' type="button" class="btn btn-secondary btn-sm" onclick="select(this, '<%= row._id %>')">Select Request</button>
                                                </td>

                                                
                                            </tr>
                                            <% })%>

                                    </tbody>
                                </table>
                            </div>

                            <input type="text" id="di" name="ID" style="visibility: hidden;">

                            <%if(merch.status.state == 'Available'){%>
                                <h4> Add comment:</h4>
                                <div class="col-sm-12">
                                    <textarea class="col-sm-12" id="message" rows="2" name="message"></textarea>
                                </div>

                                <a class="btn btn-danger btn-lg" href="/exchange/textbook-owner-details/<%=id%>/<%=member%>/<%=merch._id%>" role="button">Cancel</a>
                                <button type="submit" class="btn btn-success btn-lg">Submit</button>
                                <h4 class="text-danger">Once you click <b>confirmed</b>, the requesting party will be notified and you will receive email notification if the offer is confirmed.</h4>
                                <h5 class="text-warning">The text book will then be removed from the list of avaialable items to be exchanged.</h5>
                            <%}%>
                            

                        </form>
                    </div>
                    <div class="col-4">
                        <%if(merch.status.state == 'Being Rented'){%>
                            <h4 class="text-danger">Currently: <%=merch.status.state%></h4>
                        <%} else {%>
                            <h3>Currently: <%=merch.status.state%></h3>
                        <%}%>
                        <h3>For: <%=merch.offered_as%></h3>
                        <h4>Price: $<%=merch.cost%></h4>
                        <%if(merch.offered_as == 'For Rent'){%>
                            <h4>Weeks Available: <%=merch.availability_period%></h4>
                        <%}%>
                        <br>
                        <%if(merch.status.state == 'Available'){%>
                            <a class="btn btn-danger btn-lg" href="/exchange/postings/<%=id%>/<%=member%>" role="button">Delete Posting</a>
                        <%}%>
                        <a class="btn btn-danger btn-lg" href="/exchange/postings/<%=id%>/<%=member%>" role="button">Delete Posting</a>
                        <hr>
                        <h4 class="text-info">Please coordinate with the requester accordingly for the exchange. You can view the status of the request in your bookshelf.</h4>
                    </div>
                </div>
            </div>

        </main>
    </div>
</div>

<script type="text/javascript">
    var row = 0;
    function isValidForm(){
        var table = document.getElementById("myTable").querySelectorAll('input');
        
        for(var j = 0; j < table.length; j++){
            if(table[j].checked == true){
                break;
            }
            if((j == table.length -1) && (table[j].checked == false)){
                alert("Please Accept a request.");
                return false;
            }
        }
        alert("Validations successful!");
        return true;
    };

    document.getElementById('request').onsubmit = function() {
        return isValidForm();
    };

    function select(x, w){
        document.getElementById('di').value = w;

        var inde = x.parentNode.parentNode.rowIndex;
        if(inde != row && row!= 0){
            var inps = document.getElementById("myTable").rows[row].querySelectorAll('input');
            for(var i = 0; i < 3; i ++){
                inps[i].style.visibility = 'hidden';
                inps[i].checked = false;
            }
        }
        row = inde;
        var inps = document.getElementById("myTable").rows[inde].querySelectorAll('input');
        var count = document.getElementById("myTable").rows[inde].getElementsByTagName('input').length;

        var first_req = document.getElementById("myTable").rows[inde].cells[2].innerHTML.split('<')[0].replace(/\s\s+/g, ' ');
        var sec_req = document.getElementById("myTable").rows[inde].cells[3].innerHTML.split('<')[0].replace(/\s\s+/g, ' ');
        var third_req = document.getElementById("myTable").rows[inde].cells[4].innerHTML.split('<')[0].replace(/\s\s+/g, ' ');

        inps[0].value = first_req;
        inps[1].value = sec_req;
        inps[2].value = third_req;
        for(var i = 0; i < count; i ++){
            inps[i].style.visibility = 'visible';
        }
    };

    //script to select
    function selectTime(x){
        alert(x.value);
        var checkboxes = document.getElementsByName('accept');
        checkboxes.forEach((item) => {
            if (item !== x) item.checked = false;
        })
    };

</script>