<style>
    * {
        margin: 0;
        padding: 0;
    }
    
    body {
        background-image: url("/image/wander-bg.png");
        background-color: white;
        background-attachment: fixed;
        background-repeat: no-repeat;
        background-size: 45%;
        background-position: 65% 80%;
        width: 100%;
        height: 100vh;
    }
    
    #map {
        height: 100%;
        width: 100%;
    }
</style>

<link rel="stylesheet" href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css"
integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ=="
crossorigin=""/>
<script src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js"
integrity="sha512-gZwIG9x3wUXg2hdXF6+rVkLF/0Vi9U8D2Ntg4Ga5I5BZpVkVxlJWbSQtXPSiUTtC0TjtGOmxa1AJPuV0CPthew=="
crossorigin=""></script>

<nav class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0 myHorizontalNav">
    <a class="navbar-brand col-sm-3 col-md-2 mr-0 text-uppercase text-xl-left" href="#"><b><i>Agorá</i></b></a>
    <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="/dashboard/admin/<%=id%>/<%=member%>"><b>HOME</b></a>
    <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="places/wander-add/<%=id%>/<%=member%>"><b>ADD</b></a>
</nav>

<div class="container-fluid">
    <div class="row">
        <nav class="col-md-2 d-none d-md-block bg-dark sidebar myVerticalNav">
            <%- include ('./partials/sidebar'); -%>
        </nav>

        <main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4 myMainContent">
            <%- include ('./partials/messages'); -%>
            <div class="row">
                <h1 class="h1 text-dark "> Add a new location.</h1>
            </div>
            <div class="row">
                <h4 class="h4 text-dark"> Add a new hangout spot to be listed. (Requires administrator verification and approval)</h4>
            </div>
            <div class="row mt-5">
                <form action="/places/create/<%=id%>/<%=member%>" method="POST" class="container-fluid col-6 pt-5 justify-content bg-light font-weight-bold text-dark">
                    <div class="form-group row">
                        <label for="locationName" class="col-sm-4 col-form-label">1. Enter a location name:</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control" id="locationName" placeholder="Location Name" name="placename" required>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="inputAddress" class="col-sm-4 col-form-label">2. Enter the address:</label>
                        <div class="col-sm-8">
                            <div class="">
                                <input placeholder="Street address" class="form-control" id="inputAddress" type="text" name="streetaddress" required>
                                <input placeholder="City" class="form-control" id="inputAddress" type="text" name="city" required>
                                <input placeholder="State" class="form-control" id="inputAddress" type="text" name="state" required>
                                <input placeholder="Zipcode" class="form-control" id="inputAddress" type="text" name="zipcode" required>
                            </div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="inputURL" class="col-sm-4 col-form-label">3. Enter website, if available:</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control" id="inputURL" placeholder="Website" name="website">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="capacity" class="col-sm-4 col-form-label">4. Enter the capacity of the location:</label>
                        <div class="col-sm-8">
                            <input type="number" min="0" class="form-control" id="capacity" placeholder="Capacity" name="capacity" required>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="rating" class="col-sm-4 col-form-label">5. Give the location a rating:</label>
                        <div class="col-sm-8">
                            <input type="number" min="1" max="5" class="form-control" id="rating" placeholder="Rating (1 - 5 scale)" name="rating" >
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="inputHours" class="col-sm-4 col-form-label">6. Enter hours of operation:</label>


                        <div class="col-sm-8 form-inline justify-content-around">

                            <div class="badge-dark col-3">
                                <label for="Mon">Monday</label>
                            </div>
                            <input type="time" class="col-sm-3 my-3 my-sm-0" id="starttime1" name="monday1">
                            <label for="to">To</label>
                            <input type="time" class="col-sm-3 my-3 my-sm-0" id="endtime1" name="monday2">
                            <div class="badge-dark col-3">
                                <label for="Mon">Tuesday</label>
                            </div>
                            <input type="time" class="col-sm-3 my-3 my-sm-0" id="Starttime2" name="tuesday1">
                            <label for="to">To</label>
                            <input type="time" class="col-sm-3 my-3 my-sm-0" id="endtime2" name="tuesday2">
                            <div class="badge-dark col-3">
                                <label for="Mon">Wednesday</label>
                            </div>
                            <input type="time" class="col-sm-3 my-3 my-sm-0" id="Starttime3" name="wednesday1">
                            <label for="to">To</label>
                            <input type="time" class="col-sm-3 my-3 my-sm-0" id="endtime3" name="wednesday2">
                            <div class="badge-dark col-3">
                                <label for="Mon">Thursday</label>
                            </div>
                            <input type="time" class="col-sm-3 my-3 my-sm-0" id="Starttime4" name="thursday1">
                            <label for="to">To</label>
                            <input type="time" class="col-sm-3 my-3 my-sm-0" id="endtime4" name="thursday2">
                            <div class="badge-dark col-3">
                                <label for="Mon">Friday</label>
                            </div>
                            <input type="time" class="col-sm-3 my-3 my-sm-0" id="Starttime5" name="friday1">
                            <label for="to">To</label>
                            <input type="time" class="col-sm-3 my-3 my-sm-0" id="endtime5" name="friday2">
                            <div class="badge-success col-3">
                                <label for="Mon">Saturday</label>
                            </div>
                            <input type="time" class="col-sm-3 my-3 my-sm-0" id="Starttime6" name="saturday1">
                            <label for="to">To</label>
                            <input type="time" class="col-sm-3 my-3 my-sm-0" id="endtime6" name="saturday2">
                            <div class="badge-danger col-3">
                                <label for="Mon">Sunday</label>
                            </div>
                            <input type="time" class="col-sm-3 my-3 my-sm-0" id="Starttime7" name="sunday1">
                            <label for="to">To</label>
                            <input type="time" class="col-sm-3 my-3 my-sm-0" id="endtime7" name="sunday2">


                        </div>


                    </div>
                    <div class="form-group row">
                        <label for="comment" class="col-sm-4 col-form-label">7. Enter a comment:</label>
                        <div class="col-sm-8">
                            <textarea class="form-control" id="comment" rows="5" name="comment" ></textarea>
                        </div>
                    </div>
                    <div class="form-group row pb-5">
                        <label for="createButton" class="col-sm-4 col-form-label">8. Click the button</label>
                        <div class="col-sm-8">
                            <button class="btn btn-outline-success col-sm-8 my-2 my-sm-0" type="submit">ADD</button>
                        </div>
                    </div>

                </form>
                <div class="col-6">
                    <div id="mapid" style="height: 500px;"></div>
                </div>
            </div>
        </main>
    </div>
</div>

<script>
    var mymap = L.map('mapid').setView([40.7678, -73.9645], 20);

    L.tileLayer('https://api.mapbox.com/styles/v1/{id}/tiles/{z}/{x}/{y}?access_token={accessToken}', {
        attribution: 'Map data &copy; <a href="https://www.openstreetmap.org/">OpenStreetMap</a> contributors, <a href="https://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, Imagery © <a href="https://www.mapbox.com/">Mapbox</a>',
        maxZoom: 23,
        id: 'mapbox/streets-v11',
        tileSize: 512,
        zoomOffset: -1,
        accessToken: 'pk.eyJ1Ijoia2JhcmlhcyIsImEiOiJja2E0OWJ1bmgwMHFwM3BxZjA3MzhmdHJsIn0.rIl_C2ZPDb0BB-h_SeCPvg'
    }).addTo(mymap);

    var marker = L.marker([40.7678, -73.9645]).addTo(mymap);

</script>

<script>
    (function() {
    
        const idleDurationSecs = 900;    // X number of seconds
        const redirectUrl = '/users/logout';  // Redirect idle users to this URL
        let idleTimeout; // variable to hold the timeout, do not modify
    
        const resetIdleTimeout = function() {
    
            // Clears the existing timeout
            if(idleTimeout) clearTimeout(idleTimeout);
    
            // Set a new idle timeout to load the redirectUrl after idleDurationSecs
            idleTimeout = setTimeout(() => location.href = redirectUrl, idleDurationSecs * 1000);
        };
    
        // Init on page load
        resetIdleTimeout();
    
        // Reset the idle timeout on any of the events listed below
        ['click', 'touchstart', 'mousemove'].forEach(evt => 
            document.addEventListener(evt, resetIdleTimeout, false)
        );
    
    })();
</script>