<style>
    * {
        margin: 0;
        padding: 0;
    }
    
    body {
        background-image: url("/image/wander-bg.png");
        background-color: white;
        background-attachment: fixed;
        background-repeat: no-repeat;
        background-size: 45%;
        background-position: 65% 80%;
        width: 100%;
        height: 100vh;
    }
    
    #map {
        height: 100%;
        width: 100%;
    }
</style>

<nav class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0 myHorizontalNav">
    <a class="navbar-brand col-sm-3 col-md-2 mr-0 text-uppercase text-xl-left" href="#"><b><i>Agorá</i></b></a>
    <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="/dashboard/admin/<%=id%>/<%=member%>"><b>HOME</b></a>
    <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="/places/wander-add/<%=id%>/<%=member%>"><b>ADD</b></a>
</nav>

<div class="container-fluid">
    <div class="row">
        <nav class="col-md-2 d-none d-md-block bg-dark sidebar myVerticalNav">
            <%- include ('./partials/sidebar'); -%>
        </nav>

        <main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4 mb-2 myMainContent">
            <%- include ('./partials/messages'); -%>
            <div class="row">
                <h1 class="h1 text-dark "><%=place.name%></h1>
            </div>
            <div class="row">
                <h4 class="h4 text-dark"> Display details of a location, please rate and comment responsibly!</h4>
            </div>
            <button onclick="myFunction()" id="comments-button">See Comments from other members</button>
            <div class="row mt-4">
                <form class="container-fluid col-6 pt-3 justify-content bg-light font-weight-bold text-dark" action="/places/edit/<%=id%>/<%=member%>/<%=place._id%>" method="POST">
                    <div class="form-group row">
                        <label for="locationName" class="col-sm-4 col-form-label">1. Location name:</label>
                        <div class="col-sm-8">
                            <%=place.name%>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="inputAddress" class="col-sm-4 col-form-label">2. Address:</label>
                        <div class="col-sm-8">
                            <%=place.address.street%>,
                            <%=place.address.city%>,
                            <%=place.address.state%>,
                            <%=place.address.zipcode%>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="inputURL" class="col-sm-4 col-form-label">3. Website:</label>
                        <div class="col-sm-8">
                            
                            <a href="<%=place.website%>"><%=place.website%></a>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="inputHours" class="col-sm-4 col-form-label">4.Hours of operation:</label>
                        <div class="col-sm-8 form-inline justify-content-around">
                            <div class="badge-dark col-3">
                                <label for="Mon">Monday</label>
                            </div>
                            <%=place.operation_hours[0]%>
                            <div class="badge-dark col-3">
                                <label for="Mon">Tuesday</label>
                            </div>
                            <%=place.operation_hours[1]%>
                            <div class="badge-dark col-3">
                                <label for="Mon">Wednesday</label>
                            </div>
                            <%=place.operation_hours[2]%>
                            <div class="badge-dark col-3">
                                <label for="Mon">Thursday</label>
                            </div>
                            <%=place.operation_hours[3]%>
                            <div class="badge-dark col-3">
                                <label for="Mon">Friday</label>
                            </div>
                            <%=place.operation_hours[4]%>
                            <div class="badge-success col-3">
                                <label for="Mon">Saturday</label>
                            </div>
                            <%=place.operation_hours[5]%>
                            <div class="badge-danger col-3">
                                <label for="Mon">Sunday</label>
                            </div>
                            <%=place.operation_hours[6]%>

                            
                        </div>

                    </div>

                    <div class="form-group row">
                        <label for="ratings" class="col-sm-4 col-form-label">6. Current average rating:</label>
                        <div class="col-sm-8">
                            <% for (var star=0; star< place.rating.num; star++){ %>
                                <span class="fa fa-star checked"></span>
                                <% } %>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="rating" class="col-sm-4 col-form-label"> Add your rating:</label>
                        <div class="col-sm-6">
                            <!-- <span class="rating"></span> -->
                            <input type="number" min='1' max="5" name="rating">
                        </div>
                    </div>
                    

                    <div class="row pb-5 col-12">
                        <h6 class="text-danger">See things that need updating? Suggest changes below.</h6>
                        <h6 class="text-danger">If you see issues with hours, please fill out BOTH the start time and end time for the day.</h6>
                        <div class="badge-dark col-3">
                            <label for="Mon">Monday</label>
                        </div>
                        
                        <input type="time" class="col-sm-3 my-3 my-sm-0" id="starttime1" name="monday1" >
                        <label for="to">To</label>
                        <input type="time" class="col-sm-3 my-3 my-sm-0" id="endtime1" name="monday2">
                        <div class="badge-dark col-3">
                            <label for="Mon">Tuesday</label>
                        </div>
                        <input type="time" class="col-sm-3 my-3 my-sm-0" id="Starttime2" name="tuesday1">
                        <label for="to">To</label>
                        <input type="time" class="col-sm-3 my-3 my-sm-0" id="endtime2" name="tuesday2">
                        <div class="badge-dark col-3">
                            <label for="Mon">Wednesday</label>
                        </div>
                        <input type="time" class="col-sm-3 my-3 my-sm-0" id="Starttime3" name="wednesday1">
                        <label for="to">To</label>
                        <input type="time" class="col-sm-3 my-3 my-sm-0" id="endtime3" name="wednesday2">
                        <div class="badge-dark col-3">
                            <label for="Mon">Thursday</label>
                        </div>
                        <input type="time" class="col-sm-3 my-3 my-sm-0" id="Starttime4" name="thursday1">
                        <label for="to">To</label>
                        <input type="time" class="col-sm-3 my-3 my-sm-0" id="endtime4" name="thursday2">
                        <div class="badge-dark col-3">
                            <label for="Mon">Friday</label>
                        </div>
                        <input type="time" class="col-sm-3 my-3 my-sm-0" id="Starttime5" name="friday1">
                        <label for="to">To</label>
                        <input type="time" class="col-sm-3 my-3 my-sm-0" id="endtime5" name="friday2">
                        <div class="badge-success col-3">
                            <label for="Mon">Saturday</label>
                        </div>
                        <input type="time" class="col-sm-3 my-3 my-sm-0" id="Starttime6" name="saturday1">
                        <label for="to">To</label>
                        <input type="time" class="col-sm-3 my-3 my-sm-0" id="endtime6" name="saturday2">
                        <div class="badge-danger col-3">
                            <label for="Mon">Sunday</label>
                        </div>
                        <input type="time" class="col-sm-3 my-3 my-sm-0" id="Starttime7" name="sunday1">
                        <label for="to">To</label>
                        <input type="time" class="col-sm-3 my-3 my-sm-0" id="endtime7" name="sunday2">


                    </div>
                    
                    <div class="form-group row">
                        <label for="comment" class="col-sm-4 col-form-label">8. Add a commnet:</label>
                        <div class="col-sm-8">
                            <textarea class="form-control" id="comment" rows="3" name="comment"></textarea>
                        </div>
                    </div>
                    <div class="form-group row pb-1 mb-1 justify-content">
                        <div class="col-sm-4">
                            <a class="btn btn-outline-danger col-sm-8 my-2 my-sm-0" href="/places/wander-detail/<%=id%>/<%=member%>/<%=place._id%>" role="button">CANCEL</a>
                        </div>
                        <div class="col-sm-4">
                            <button class="btn btn-outline-success col-sm-8 my-2 my-sm-0" type="submit">SUBMIT</button>
                        </div>
                    </div>
                </form>
                
                <div class="col-6" id='comments' style="visibility: hidden;">
                    <table class="table table-sm myTable">
                        <thead>
                          <tr>
                            <th scope="col">User</th>
                            <th scope="col">Date</th>
                            <th scope="col">Review</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr>
                            <% for (var i=0; i< place.comments.length; i++){ %>
                                <td><%=place.comments[i].commentor.username%></td>
                                <td><%=place.comments[i].time%></td>
                                <td><%=place.comments[i].text%></td>
                            <% } %>
                          </tr>

                        </tbody>
                      </table>
                    <!-- <div id="map">

                        <p>This is a map</p>

                    </div> -->
                </div>
            </div>
        </main>
    </div>
</div>

<!--need fixing, this is code to get the input from screen-->
<script async defer type="text/javascript">
    function getCoord() {
        var newlat = parseFloat(document.getElementById("newlat").value);
        var newlng = parseFloat(document.getElementById("newlng").value);
        $("#map").load(" #map");
    }
</script>

<script>
    function initMap() {
        var location = {
            lat: place.gps_coordinates.latitude, //need default value or data poll from DB
            lng: place.gps_coordinates.longitude //need default value or data poll from DB

        };
        var map = new google.maps.Map(document.getElementById("map"), {
            zoom: 17,
            center: location
        });
        var marker = new google.maps.Marker({
            position: location,
            map: map

        });
    }
</script>

<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDw9i5kS-0ajreM29FC1d2ifdXypgk2JQ0
&callback=initMap" type="text/javascript">
</script>

<script>
    function myFunction() {
        var x = document.getElementById("comments");
        if(x.style.visibility == 'hidden'){
            document.getElementById("comments").style.visibility = "visible";
        }
        else{
            document.getElementById("comments").style.visibility = "hidden";
        }
    }
</script>

<!--sample location:
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1510.8780331939784!2d-73.96472090523616!3d40.76738959330323!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89c258ebe8836e8f%3A0x306c53c6456af436!2sHunter%20College%20Leon%20%26%20Toby%20Cooperman%20Library!5e0!3m2!1sen!2sus!4v1585064383050!5m2!1sen!2sus" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>

-->